.wrapper{
    padding-top: 100px;
    width: 1500px;
}
.product{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.productItem{
    margin-bottom: 50px;
    width: 300px;
}
.description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.price{
    font-size: 25px;
    color: red;
}
img{
    width: 300px;
    height: 400px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}